footer.footer
    .footer__content 
        a.link-content(href="https://play.google.com/store?hl=ru&gl=US")
            img(src="./assets/img/link-google-play.svg" alt="Google Play")
        a.link-content(href="https://www.apple.com/ru/app-store/")
            img(src="./assets/img/link-app-store.svg" alt="App Store")