header.header
    .header__container
        a.header__logo(href="")
            img(src="./assets/img/logo.svg" alt="Logo")
        .header__menu.menu
          nav.header__body 
            ul.menu__list 
              li.menu__item
                a.menu__link home
              li.menu__item
                a.menu__link features
              li.menu__item
                a.menu__link support
              li.menu__item
                a.menu__link contact us
        .header__button
          button.button.button--blue download
        .header__menu-burger
          span
        