main.main
    section.get-started 
        .get-started__container 
            .get-started__content 
                .block-text 
                    h1.title Take care of yours family’s #[mark.mark-blue health.]
                    p.text All in one destination for COVID-19 health queries.  Consult 10,000+ health workers about your concerns.
                    button.button.button--red GET STARTED
            .get-started__image
                img(src="./assets/img/main-picture.svg" alt="Врач обследует ребенка")
            .get-started__video
                a.video-get-started(href="") 
                .video-get-started__icon 
                    img(src="./assets/img/icon-play.svg" alt="Play")
                .video-get-started__body 
                    span.video-get-started__title Stay safe with GoCorona
                    p.video-get-started__text Watch Video
    section.stay-safe 
        .stay-safe__container 
            .stay-safe__media
                .stay-safe__image
                    img(src="./assets/img/app.png" alt="Приложение GoCorona")
                .stay-safe__media-decor.stay-safe__media-decor-1
                .stay-safe__media-decor.stay-safe__media-decor-2
                .stay-safe__media-decor.stay-safe__media-decor-3
            .stay-safe__content
                .block-text 
                    h2.sub-title Stay safe with Go#[mark.mark-red Corona.]
                    p.text 24x7 Support and user friendly mobile platform to bring healthcare to your fingertips. Signup and be a part of the new health culture.
                    button.button.button--red Features
    section.experts 
        .experts__container 
                .experts-block 
                    .experts-block__body
                        .experts-item
                            .experts-item__value 2m
                            .experts-item__text Users
                        .experts-item
                            .experts-item__value 78
                            .experts-item__text Countries
                        .experts-item
                            .experts-item__value 10,000+
                            .experts-item__text Medical experts
                    .experts-block__decor.experts-block-decor-1
                    .experts-block__decor.experts-block-decor-2
                    .experts-block__decor.experts-block-decor-3
                .experts__info
                    .experts__content 
                        .block-text 
                            h2.sub-title Talk to #[mark.mark-blue experts.]
                            p.text Book appointments or submit queries into thousands of forums concerning health issues and prevention against noval Corona Virus.
                            button.button.button--red Features
                    .experts__video 
                        iframe(src="https://www.youtube.com/embed/BtN-goy9VOY", frameborder="0") 

    section.healthcare
        .block-text--center
            h2.sub-title #[mark.mark-red Healthcare] at your Fingertips.
            p.text--center Bringing premium healthcare features to your fingertips. User friendly mobile platform to bring healthcare to your fingertips. Signup and be a part of the new health culture.
        .healthcare__items   
            .healthcare__item.item-healthcare
                .item-healthcare__icon 
                    img(src="./assets/img/healthcare-human.svg", alt="Человек")
                .item-healthcare__title Symptom Checker
                p.item-healthcare__text Check if you are infected by COVID-19 with our Symptom Checker
            .healthcare__item.item-healthcare 
                .item-healthcare__icon 
                    img(src="./assets/img/healthcare-doctor.svg", alt="Врач")
                .item-healthcare__title 24x7 Medical support
                p.item-healthcare__text Consult with 10,000+ health workers about your concerns.  
            .healthcare__item.item-healthcare 
                .item-healthcare__icon 
                    img(src="./assets/img/healthcare-heart.svg", alt="Сердце")
                .item-healthcare__title Conditions
                .item-healthcare__text Bringing premium healthcare features to your fingertips.